version: 2.1
orbs:
  kpt:
    executors:
      kpt-container:
        docker:
          - image: gongpu/kpt
    commands:
      run-kpt-functions:
        steps:
          - run: kpt fn run resources --fn-path functions.yaml
    jobs:
      run-kpt-functions:
        executor: kpt-container
        steps:
          - checkout
          - setup_remote_docker:
              docker_layer_caching: true
          - run-kpt-functions
workflows:
  main:
    jobs:
      - kpt/run-kpt-functions
