version: 2.1
orbs:
  kpt:
    executors:
      kpt-container:
        docker:
          - image: gongpu/kpt:docker-cli
    commands:
      run-kpt-functions:
        steps:
          - run: kpt fn run resources --fn-path 
                 functions.yaml
          - run: kpt fn source .
    jobs:
      run-functions:
        executor: kpt-container
        steps:          
          - setup_remote_docker
          - run-kpt-functions
workflows:
  main:
    jobs:
      - checkout
      - kpt/run-functions
