name: Kpt
'on':
  push:
    branches:
      - master
jobs:
  run-kpt-functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: 'Run kpt function: tshirt'
        uses: 'docker://gongpu/kpt:latest'
        with:
          # NOTE: functions are scoped
          args: >-
            fn run tshirt --image gcr.io/kustomize-functions/example-tshirt:v0.1.0
      - name: 'Run kpt function: label-namespace'
        uses: 'docker://gongpu/kpt:latest'
        with:
          args: >-
            fn run label-namespace --image gcr.io/kpt-functions/label-namespace -- label_name=color label_value=blue
      - name: 'Run kpt function: show result'
        uses: 'docker://gongpu/kpt:latest'
        with:
          args: >-
            fn source .
