name: Kpt
"on":
  push:
    branches:
      - master
jobs:
  run-kpt-functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Run kpt function: tshirt-size"
        uses: "docker://gongpu/kpt:latest"
        with:
          # NOTE: functions are scoped
          args: >-
            fn run resources --image gcr.io/kustomize-functions/example-tshirt:v0.1.0
      - name: "Run kpt function: label-namespace"
        uses: "docker://gongpu/kpt:latest"
        with:
          args: >-
            fn run resources --image gcr.io/kpt-functions/label-namespace -- label_name=color label_value=blue
      - name: "Run kpt function: validate-rolebinding"
        uses: "docker://gongpu/kpt:latest"
        with:
          args: >-
            fn run resources --image gcr.io/kpt-functions/validate-rolebinding -- subject_name=Alice

      - name: "Show diff"
        run: git diff

      # @see https://github.com/marketplace/actions/add-commit
      - name: "Update the `hydrate` branch"
        uses: EndBug/add-and-commit@v4
        with:
          add: "."
          author_name: "ci-bot"
          author_email: "mail@example.com"
          cwd: "."
          force: true
          ref: "hydrate"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
